#flag {
    background-image: url("../../images/flag-bg.jpg");
    margin-left: -20px;
    margin-top: -20px;
    
    width: 939px;
    padding: 15px;
    padding-top: 10px;
    padding-left: 4px;
}

#flag p {
    font-size: 16px;
    color: white;
    margin-left: 10px;
    margin-bottom: 5px !important;
}

#flag ul {
    margin: 0px;
    padding: 0px;
}

#flag ul li {
    list-style: none;
    display: block;
    float: left;
    
    margin-left: 10px;
    
    background-image: url("../../images/black-10.png") !important;
    box-shadow: 1px 1px 1px rgba(31, 75, 88, 0.3), -1px -1px 0px rgba(7, 51, 64, 0.3);
    
    border-radius: 15px;
}

#flag ul li:hover {
    background-image: url("../../images/black-25.png") !important;
    box-shadow: 1px 1px 1px rgba(31, 75, 88, 0.5), -1px -1px 0px rgba(7, 51, 64, 0.5);
}

a.homeIcon {
    display: block;
    padding: 8px;
    padding-left: 60px;
    
    position: relative;
    
    width: 226px;
    height: 55px;
    
    background-image: url("../../images/flagicon-bg.png");
    background-repeat: no-repeat;
    background-position: 8px 8px;
}

a.homeIcon:hover {
    background: none !important;
    background-image: url("../../images/flagicon-bg.png") !important;
    background-repeat: no-repeat !important;
    background-position: 8px 8px !important;
}

a.homeIcon p {
    font-size: 13px !important;
    line-height: 1.2em !important;
}

div.flagIcon {
    width: 52px;
    height: 50px;
    
    text-indent: -2000em;
    
    position: absolute;
    left: 8px;
    top: 8px;
    
    margin: 0px !important;
    
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#flagIconLessons { background-image: url("../../images/icons-home/lessons.png"); }
#flagIconStockSim { background-image: url("../../images/icons-home/stocksim.png"); }
#flagIconClassrooms { background-image: url("../../images/icons-home/classrooms.png"); }