.signupLink {
    display: block;
    padding: 20px;
    padding-top: 60px;
    padding-left: 160px;
    
    font-family: Cabin;
    color: rgb(80, 80, 80) !important;
    font-size: 48px;
    
    height: 80px;
    
    border: solid 3px rgb(220, 220, 220);
    
    background-color: rgb(245, 245, 250);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    
    border-radius: 10px;
    
    margin-bottom: 10px;
}

#signupStudent {
    background-image: url("../../images/student-120.png");
}

#signupTeacher {
    background-image: url("../../images/teacher-120.png");
}